* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background: #F5F4F0;
    --border: #D9D9D9;
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98; 
}

body {
    font-family: 'Open-sans', sans-serif;
    background-color: var(--background);
    padding: 88px 80px;
}

.headline {
    color: var(--text-headline);
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

header img {
    background-image: contain;
}